<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :poster %><br>
    <%= f.text_field :poster %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, [['New', 'new'], ['Pending', 'pending'], ['Complete', 'complete']] %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
