<div class="container">

  <div class="row">
  <p id="notice"><%= notice %></p>

  <h1>Job Postings</h1>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="row"><%= sortable_column 'Date', :column => "created_at"%></th>
      <th scope="row"><%= sortable_column 'Poster'%></th>
      <th scope="row"><%= sortable_column 'Category'%></th>
      <th scope="row"><%= sortable_column 'Location'%></th>
      <th scope="row"><%= sortable_column 'Status'%></th>
      <th scope="row">Description</th>
      <th scope="row">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @jobs.each do |job| %>
        <tr>
          <td><%= job.created_at.strftime('%D')%></td>
          <td><%= job.poster %></td>
          <td><%= job.category %></td>
          <td><%= job.location %></td>
          <td><%= job.status %></td>
          <td><%= job.description %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Job', new_job_path, class: "btn btn-default" %>
  </div>
</div>

